.node {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;

    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.node:hover {
    background-color: #c2c2c2;
    transition: background-color 0.1s ease-in;
}

.node__img.active {
    transition: transform 0.1s ease-in;
    transform: rotate(90deg);
}

